body {
  margin: 0;
  padding: 0;
}

.page-container {
  height: 100vh;
  width: 100vw;
  background-color: navy;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  grid-area: sidebar;
  display: grid;
  background-color: maroon;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  grid-area: header;
  background-color: magenta;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "searchbar"
    "title-header";
}

.searchbar {
  grid-area: searchbar;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: purple;
}

.title-header {
  grid-area: title-header;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: pink;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  margin: 30px 20px 40px 20px;
}

.projects-section {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  height: 50px;
  width: 50px;
  background-color: orange;
}

.announcements-section {
}

.trending-section {
}
