* {
  margin: 0;
  padding: 0;
}

.page-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid:
    "sidebar searchbar"
    "sidebar main-content";
}

.sidebar {
  background-color: red;
  width: 100px;
  grid-area: sidebar;
}

.searchbar {
  background-color: blue;
  height: 10vh;
  width: 100vw;
  grid-area: searchbar;
}

.main-content {
  background-color: orange;
  height: 90vh;
  width: 100vw;
  grid-area: main-content;
  display: grid;
  grid: "cards side-cards";
}

.cards {
  display: grid;
  grid-area: cards;
  background-color: green;
  grid:
    "card card"
    "card card"
    "card card";
  place-items: center;
}

.card {
  height: 100px;
  width: 100px;
  background-color: yellow;
}

.side-cards {
  display: grid;
  background-color: purple;
  place-items: center;
}

.side-card {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
}
